* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_text {
  margin: 20px 0 20px 20px;
}

.new_title {
  margin-top: 10px;
}

body {
  margin: 35px;
}

table {
  margin-bottom: 10px;
}

.show_text {
  margin-bottom: 20px;
  margin-left: 30px;
}


.succes {
  margin-bottom: 20px;
  margin-left: 30px;
  color: green;
}

.error {

  height: 150px;
  color: #000000;
  margin-top: 50px;

}

.error_massage {
  background: red;
}

ul {
  margin: 20px 0 20px 30px;
}

td {
  padding: 0 10px 5px 5px;
}

.post {
  display: block;
}

h1 {
  margin-bottom: 10px;
}

.edit_form {
  display: inline;
}

.edit_botton {
  margin: 10px 0;
}
